:root {
    --ff-main: 'Open Sans', sans-serif;
    --ff-title: 'Barlow', sans-serif;

    --fs-base: 1rem;
    --fs-button: 1rem;
    --fs-tech: 1.125rem;
    --fs-card-title: 1.5rem;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;
    --fw-extra-bold: 700;
    --fw-block: 800;

    --main-color: #fdffff;
    --secondary-color: #1c4765;
    --accent-color1: #a8b7c9;
    --accent-color2: #496e8c;



    /* https://huemint.com/website-1/#palette=fdffff-1c4765-a8b7c9 */
    /* https://huemint.com/website-2/#palette=fdffff-1c4765-a8b7c9-496e8c */
}

/* 
* {
    background-color: rgba(0, 100, 0, 0.1);
} */

body {
    background-color: var(--main-color);
    background-image: url("https://jayeshtamhankar.github.io/Frontend-Mentor-Challenges/img/bg.svg");
}

header, main, footer {
    .container {
        width: 80%;
        max-width: 1440px;

        margin: 0 auto;
    }
}

@media (width < 850px) {
    header, main, footer {
        .container {
            width: 85%;
        }
    }
}

@media (width < 450px) {
    header, main, footer {
        .container {
            width: 90%;
        }
    }
}

header {
    .container {
        padding: 0 10px;

        .header-title {
            margin: 6rem 0;
            font-family: var(--ff-main);

            h1{
                font-size: 3rem;
                font-weight: var(--fw-bold);
                color: var(--secondary-color);
            }
        }
    }
}

main {
    .container {
        .cards {
            width: 100%;

            display: flex;
            flex-wrap: wrap;

            

            .card-item {
                width: calc(calc(100% / 3) - 20px);

                margin: 10px;

                padding: 2rem;

                border-radius: 10px;

                background-color: var(--accent-color1);

                .card-thambnail {
                    border-radius: 10px;

                    overflow: hidden;
                }

                .card-boby {

                    .title {
                        font-family: var(--ff-title);

                        margin-top: 2rem;

                        h2 {
                            font-size: var(--fs-card-title);
                            font-weight: var(--fw-bold);
                            text-transform: capitalize;

                            color: var(--secondary-color);
                        }
                    }

                    .tech {
                        font-family: var(--ff-title);

                        margin-top: 1.2rem;

                        span{
                            font-weight: var(--fw-block);
                            text-transform: uppercase;
                            color: var(--accent-color2);
                        }

                        span:nth-child(1) {
                            margin-right: 0.5rem;
                        }
                    }

                    .button {
                        margin-top: 2rem;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            font-family: var(--ff-main);
                            display: inline-block;
                            
                            p {
                                font-size: var(--fs-button);
                                font-weight: var(--fw-semi-bold);
                                color: var(--secondary-color);
                            }

                            a {
                                svg {
                                    height: 1.1rem;
                                    
                                    path {
                                        fill: var(--main-color);
                                    }
                                }
                            }
                        }

                        span:nth-child(2) {
                            height: 3rem;
                            width: 3rem;

                            position: relative;

                            border-radius: 50px;

                            background-color: #1c4765;

                            transition: all 0.2s ease-in-out;

                            a {
                                svg {
                                    position: absolute;
    
                                    top: 50%;
                                    left: 50%;
    
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }


                        span:nth-child(2):hover {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

footer {
    .container {
        padding: 0 10px;
        text-align: center;

        .attribution {
            padding: 5rem 0;
            font-family: var(--ff-main);

            p {
                font-weight: var(--fw-regular);
                color: var(--secondary-color);
                a {
                    font-weight: var(--fw-bold);
                    color: var(--secondary-color);
                }
            }
        }
    }
}

@media (width <= 850px) {
    main {
        .container {
            .cards {
                width: 100%;
    
                display: flex;
                flex-wrap: wrap;
    
                .card-item {
                    width: calc(calc(100% / 2) - 20px);
                }
            }
        }
    }
}

@media (width <= 450px) {
    main {
        .container {
            .cards {
                width: 100%;
    
                display: flex;
                flex-wrap: wrap;
    
                .card-item {
                    width: calc(100% - 20px)
                }
            }
        }
    }
}