:root {
    --ff-main: 'Fira Sans', sans-serif;
}

header, main, footer {
    .container {
        width: 80%;

        margin: 0 auto;
    }
}

header {

    .container {

        padding: 6rem 0 3rem 0;

        h1 {
            font-family: var(--ff-main);
            font-size: clamp(2rem, 1.0816rem + 3.2653vw, 5rem);
            font-weight: 600;
            text-transform: uppercase;
            color: #1e1e1e;
        }

    }
}

main {
    .container {
        .list {
            display: grid;

            grid-template-columns: repeat(3, 1fr);

            gap: 2rem;

            .list-item {
                background-color: brown;

                cursor: pointer;

                border-radius: 16px;

                overflow: hidden;

                a {
                    width: 100%;
                    height: 100%;

                    display: grid;
                    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
                    grid-template-areas: stack;

                    img {
                        grid-area: stack;
                        
                        width: 100%;

                        object-fit: cover;
                        place-self: stretch;
                    }

                    figcaption {
                        grid-area: stack;
                        align-self: end;

                        background-color: #1e1e1e;

                        border-radius: 8px;

                        margin: 0 1rem 1rem 1rem;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        padding: 1rem 1.5rem;

                        span {

                            h1 {
                                font-family: var(--ff-main);
                                font-weight: 500;
                                font-size: 1rem;
                                color: #fff;
                            }

                            svg {
                                height: 1.5rem;

                                transition: 0.3s all ease-in-out;

                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }

                    figcaption:hover {
                        span {

                            svg {

                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .container {
        .attribution{

            padding: 3.5rem 0 5rem 0;
            text-align: center;

            p {
                font-family: var(--ff-main);
                font-size: 1rem;
                color: #1e1e1e;
        
                a {
                    color: #0010eb;
                }
        
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (width < 850px) {
    header, main, footer {
        .container {
            min-width: 345px;
        }
    }

    header, footer {
        .container {
            text-align: center;
        }
    }
    

    main {
        .container {
            .list {

                grid-template-columns: repeat(2, 1fr);

                .list-item {
                    width: 100%;
                }
            }
        }
    }

}

@media (width < 450px) {
    header, main, footer {
        .container {
            min-width: 345px;
        }
    }

    header, footer {
        .container {
            text-align: center;
        }
    }
    

    main {
        .container {

            .list {

                grid-template-columns: 1fr;

                .list-item {
                    width: 100%;
                }
            }
        }
    }

}
