*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.2;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
a {
    text-decoration: none;
}

:root {
    /* Layout */
    --mobile-width: 350px;
    --destop-width: 1440px;

    --card-height: 250px;

    /* colors */
    --card-top-border-red: hsl(0, 78%, 62%);
    --card-top-border-cyan: hsl(180, 62%, 55%);
    --card-top-border-orange: hsl(34, 97%, 64%);
    --card-top-border-blue: hsl(212, 86%, 64%);

    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    
    /* font */
    --ff-main-challenge: 'Poppins';
    --ff-main: 'Rubik', sans-serif;
    
    --fs-main-title: clamp(1.75rem, 1.5092rem + 1.1009vw, 2.5rem);
    --fs-main-title-body: 1.125rem;
    --fs-card-title: clamp(1rem, 0.6622rem + 0.4898vw, 1.25rem);
    --fs-body: 0.9375rem;

    --fw-extralight: 200;
    --fw-regular: 400;
    --fw-semibold: 600;

    --right: clamp(0.8125rem, -2.3503rem + 14.4586vw, 15rem);
}

header, main, footer {
    width: 100%;
}

.container {
    width: 80%;

    max-width: var(--destop-width);
    min-width: var(--mobile-width);

    margin: 0 auto;
}

.title-head {
    text-align: center;

    padding: 4rem 0 2rem 0;
}

.title-head > h1 {
    font-family: var(--ff-main-challenge);

    font-size: var(--fs-main-title);
}

.title-head > h1 > span:nth-child(1) {
    font-weight: var(--fw-extralight);
}

.title-head > h1 > span:nth-child(3) {
    font-weight: var(--fw-semibold);
}

.title-body {
    width: 50%;

    margin: 0 auto;

    padding: 0 0 4rem 0;

    font-family: var(--ff-main-challenge);
    font-size: var(--fs-body);

    text-align: center;
}

.layout {
    display: flex;
    gap: 1.5rem;

    align-items: center;
}

.column {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    height: var(--card-height);

    border-radius: 5px;
    border-top: solid var(--card-top-border-cyan) 4px;

    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.2);

    padding: 2rem;
}

.column:nth-child(1) > .card {
    border-top: solid var(--card-top-border-cyan) 4px;
}

.column:nth-child(2) > .card:nth-child(1) {
    border-top: solid var(--card-top-border-red) 4px;
}

.column:nth-child(2) > .card:nth-child(2) {
    border-top: solid var(--card-top-border-orange) 4px;
}

.column:nth-child(3) > .card {
    border-top: solid var(--card-top-border-blue) 4px;
}

.card-layout {
    position: relative;
}

.card-title-head {
    font-family: var(--ff-main-challenge);
    font-size: var(--fs-card-title);
    font-weight: var(--fw-semibold);

    padding: 0 0 1rem 0;
}

.card-body {
    font-family: var(--ff-main-challenge);
    font-size: var(--fs-body);
}

.icon {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
}


@media (width < 800px) {
    .layout {
        flex-direction: column;
    }

    .title-head {
        width: 100%;
    }

    .title-body {
        width: 100%;
    }
}

footer {
    padding: 4rem 0 8rem 0;
}

.attribution {
    /* width: 70%; */

    font-family: var(--ff-main-challenge);
    font-size: var(--fs-body);

    text-align: center;
}
